.box{
    height: 200px;
    width: 200px;
    margin:0;
    padding:0;
    background-color: aqua; 
    margin: 50px;
    padding: 30px;

}
.box1{
     height: 50px;
     width: 50px;
     background-color: black;


}
.box2{
    height: 50px;
    width: 50px;

}
#parent{
    width: 200px;
    background-color: black;
    height: 200px;
    position: relative;
    left: 200px;

}
#child{
    width: 50px;
    background-color: yellow;
    height: 50px;
    position: absolute;
    right: 0px;
    
}
#divtemp{
    position: fixed;
    top: 0px;
    height: 100px;
    width: 100px;
    background-color: burlywood;
    text-align: center;
    z-index:9;
    /* position: sticky;*/
} 
#heading1{
    position: sticky;
    top: 0px;
    background-color: blueviolet;
    color: red;
     z-index: 8; 

}
     